html {
  min-height: 100%;
  position: relative;
}
table{
  table-layout: fixed;

}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li{
  margin-top: 1.8%;
}
.navbar-nav  li a:hover {
    color: #07689f !important;


}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #07689f;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.selected{
  background-color: #a2d5f2;

}

.selected:hover{
  background-color: #a2d5f2;

}

.text-editor{

  max-height: 370px;
  overflow: auto;
  direction: rtl;


}
.vid-zoom{
  max-height: 300px;
  border-radius: 10px;
  align-items: center;
}

.video-div{

  /* background-color: #c0c0c0; */
}

h1{
color :#40a8c4;

}
